@model QuanLyBenhXa.Models.Thuoc

@{
    ViewData["Title"] = "Xóa Thuốc";
}

<h1>Xóa Thuốc</h1>

<h3>Bạn có chắc chắn muốn xóa thuốc này?</h3>
<div>
    <h4>Thuốc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenThuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenThuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhaSanXuat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhaSanXuat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonViTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonViTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HamLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HamLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CachDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CachDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>
